@import "reset.css"
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap')

$white: #FFFFFF
$black: #111111
$yellow: #FCDA28
$grey: #ADADAD
$orange: #FCB500

*
  font-family: "Rubik", sans-serif
  font-size: 18px

header
  background: $black
  height: 80px
  position: relative
  z-index: 5
  ul
    display: flex
    align-items: center
    justify-content: space-between
    width: 956px
    padding-left: 13px

.header
  margin: 0 auto
  height: 80px
  width: 1310px
  color: $white
  display: flex
  justify-content: space-between
  align-items: center

.header_basket
  position: relative

.header_basket-img
  margin-right: 22px

.header_basket__quantity
  background: $orange
  color: $black
  width: 16px
  height: 16px
  border-radius: 8px
  font-size: 12px
  font-weight: 700
  display: flex
  align-items: center
  justify-content: center
  position: absolute
  left: 21px
  bottom: -6px

.separation
  height: 97px
  position: absolute
  z-index: 2
  top: 9px
  background-image: url(../img/separation.png)
  background-size: 100%

.startPage_wrapper
  height: 792px
  background: $yellow

.startPage
  margin: 0 auto
  width: 1314px
  display: flex

h1
  font-size: 144px
  font-weight: 700
  line-height: 152px
  text-align: left
  color: $white
  margin-top: 105px
  z-index: 5
  position: relative

.startPage_info-textH1
  font-size: 24px
  font-weight: 400
  line-height: 28px
  width: 657px
  margin-top: 30px

h2
  font-size: 36px
  font-weight: 700
  line-height: 43px
  margin-top: 109px

.startPage_info-textH2
  line-height: 21px
  width: 350px
  margin-top: 8px

.startPage_imgs
  position: relative
  right: 430px

#startPage_imgs-lemon, #startPage_imgs-nootris,
#startPage_imgs-ginger
  position: absolute

#startPage_imgs-lemon
  left: -283px
  top: 441px

#startPage_imgs-nootris
  bottom: -1px
  left: 108px

#startPage_imgs-ginger
  bottom: 15px
  left: -66px

.salePage_wrapper
  background: $black
  height: 926px

.salePage
  margin: 0 auto
  display: flex
  flex-direction: column
  align-items: center

h3
  font-size: 48px
  font-weight: 700
  line-height: 57px
  text-align: center
  color: $orange
  width: 800px
  margin-top: 112px
  &:first-line
    color: $white

.salePage_price
  display: flex
  align-items: center
  width: 270px
  justify-content: space-between
  margin-top: 77px

.salePage_price-old
  color: $grey
  font-size: 36px
  line-height: 43px
  text-align: center
  text-decoration: 3px $grey line-through
  margin-left: 20px

.salePage_price-new
  color: $white
  font-size: 48px
  line-height: 57px
  text-align: left

.salePage_info
  display: flex
  justify-content: space-between
  width: 1087px
  align-items: center
  margin-top: 49px

.salePage_info-item
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center

#salePage_info-ginger
  width: 193px
  height: 161px
  margin-top: -8px

#salePage_info-ginger-text1
  padding-right: 6px

#salePage_info-nootris
  width: 480px
  height: 160px
  margin-bottom: -49px

#salePage_info-virus
  width: 192px
  height: 160px

#salePage_info-nootris-text1
  font-size: 36px
  line-height: 43px
  text-align: left
  margin-top: 95px
  margin-right: 10px

#salePage_info-nootris-text2
  font-size: 24px
  line-height: 28px
  text-align: center
  margin-top: 8px

.salePage_info-item-text1
  color: $white
  text-align: center
  margin-top: 86px

.salePage_info-item-text2
  color: $orange
  text-align: center

button
  height: 56px
  width: 256px
  border-radius: 7px
  background: $orange
  line-height: 21.33px
  margin-top: 66px