@charset "UTF-8";
@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap");
* {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
}

.isVisible {
  overflow: hidden;
}

header {
  background: #111111;
  height: 80px;
  position: relative;
  z-index: 10;
}
header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 956px;
  padding-left: 13px;
}
header ul li:hover {
  color: #FCDA28;
  cursor: pointer;
}

a {
  color: #FFFFFF;
}
a:hover {
  color: #FCDA28;
  cursor: pointer;
}

.header {
  margin: 0 auto;
  height: 80px;
  width: 1310px;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_logo {
  position: relative;
  z-index: 10;
}

.header_basket {
  position: relative;
}

.header_basket-img {
  margin-right: 22px;
}
.header_basket-img:hover {
  cursor: pointer;
}

.header_basket__quantity {
  background: #FCB500;
  color: #111111;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 21px;
  bottom: -6px;
}

.header_menu-btn {
  display: none;
}

.header_menu-btn {
  width: 30px;
  height: 30px;
  position: relative;
  z-index: 2;
  overflow: hidden;
  top: 5px;
}
.header_menu-btn span {
  width: 30px;
  height: 2px;
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFFFFF;
  transition: all 0.5s;
}

.header_menu-btn span:nth-of-type(2) {
  top: calc(50% - 5px);
}

.header_menu-btn span:nth-of-type(3) {
  top: calc(50% + 5px);
}

.menu.active {
  transform: translateX(0);
}

.menu li {
  list-style-type: none;
}

/* Меняем гамбургер иконку, когда меню открыто */
.header_menu-btn.active span:nth-of-type(1) {
  top: 50%;
  transform: translate(-90%, 0%) rotate(90deg);
}

.header_menu-btn.active span:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(90deg);
}

.header_menu-btn.active span:nth-of-type(3) {
  top: 50%;
  transform: translate(-10%, 0%) rotate(90deg);
}

.separation {
  height: 97px;
  position: absolute;
  z-index: 2;
  top: 9px;
}
.separation img {
  width: 100%;
  height: 97px;
}

.startPage_wrapper {
  height: 792px;
  background: #FCDA28;
}

.startPage {
  margin: 0 auto;
  width: 1314px;
  display: flex;
}

h1 {
  font-size: 144px;
  font-weight: 700;
  line-height: 152px;
  text-align: left;
  color: #FFFFFF;
  margin-top: 105px;
  z-index: 5;
  position: relative;
}

.startPage_info-textH1 {
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  width: 657px;
  margin-top: 30px;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 43px;
  margin-top: 109px;
}

.startPage_info-textH2 {
  line-height: 21px;
  width: 350px;
  margin-top: 8px;
}

.startPage_imgs {
  position: relative;
  right: 430px;
}

#startPage_imgs-lemon, #startPage_imgs-nootris,
#startPage_imgs-ginger {
  position: absolute;
}

#startPage_imgs-lemon {
  left: -283px;
  top: 441px;
}

#startPage_imgs-nootris {
  bottom: -1px;
  left: 108px;
}

#startPage_imgs-ginger {
  bottom: 15px;
  left: -66px;
}

.salePage_wrapper {
  background: #111111;
  height: 926px;
}

.salePage {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  font-size: 48px;
  font-weight: 700;
  line-height: 57px;
  text-align: center;
  color: #FCB500;
  width: 800px;
  margin-top: 112px;
}
h3:first-line {
  color: #FFFFFF;
}

.salePage_price {
  display: flex;
  align-items: center;
  width: 270px;
  justify-content: space-between;
  margin-top: 77px;
}

.salePage_price-old {
  color: #ADADAD;
  font-size: 36px;
  line-height: 43px;
  text-align: center;
  text-decoration: 3px #ADADAD line-through;
  margin-left: 20px;
}

.salePage_price-new {
  color: #FFFFFF;
  font-size: 48px;
  line-height: 57px;
  text-align: left;
}

.salePage_info {
  display: flex;
  justify-content: space-between;
  width: 1087px;
  align-items: center;
  margin-top: 49px;
}

.salePage_info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#salePage_info-ginger {
  width: 193px;
  height: 161px;
  margin-top: -8px;
}

#salePage_info-ginger-text1 {
  padding-right: 6px;
}

#salePage_info-nootris {
  width: 480px;
  height: 160px;
  margin-bottom: -49px;
}

#salePage_info-virus {
  width: 192px;
  height: 160px;
}

#salePage_info-nootris-text1 {
  font-size: 36px;
  line-height: 43px;
  text-align: left;
  margin-top: 95px;
  margin-right: 10px;
}

#salePage_info-nootris-text2 {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  margin-top: 8px;
}

.salePage_info-item-text1 {
  color: #FFFFFF;
  text-align: center;
  margin-top: 86px;
}

.salePage_info-item-text2 {
  color: #FCB500;
  text-align: center;
}

button {
  height: 56px;
  width: 256px;
  border-radius: 7px;
  background: #FCB500;
  line-height: 21.33px;
  margin-top: 66px;
}
button:hover {
  background: #FCDA28;
}
button:active {
  transform: scale(1.1);
}

@media (min-width: 992px) and (max-width: 1391px) {
  .header {
    width: 960px;
  }
  .header ul {
    width: 770px;
    padding: 0;
  }
  .header ul li {
    font-size: 16px;
  }
  .header_basket-img {
    margin: 0;
  }
  .startPage {
    width: 960px;
  }
  h1 {
    font-size: 95px;
  }
  .startPage_info-textH1 {
    font-size: 18px;
    line-height: 28px;
    width: 495px;
    margin-top: 15px;
  }
  .startPage_info-textH1, .salePage_info-text2 {
    font-size: 16px;
  }
  h2 {
    margin-top: 90px;
    font-size: 34px;
  }
  #startPage_imgs-ginger {
    bottom: -19px;
    left: -60px;
  }
  #startPage_imgs-nootris {
    bottom: -35px;
    left: 140px;
  }
  #startPage_imgs-lemon {
    left: -252px;
    top: 448px;
  }
  .salePage_info {
    width: 960px;
  }
}
/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  header {
    position: fixed;
    z-index: 10;
    width: 100%;
  }
  .header {
    width: 720px;
    justify-content: space-between;
  }
  /* Меню, которое будет появляться */
  .menu {
    position: fixed;
    top: 0;
    width: 320px;
    height: 600px;
    background: #111111;
    transform: translateX(-100%);
    transition: transform 0.5s;
    left: 0;
  }
  ul {
    flex-direction: column;
    font-weight: 700;
    position: relative;
    left: -100%;
    top: 115px;
    line-height: 75px;
  }
  .startPage {
    width: 740px;
  }
  .header_menu-btn {
    display: block;
  }
  h1 {
    font-size: 100px;
    text-align: center;
  }
  #startPage_imgs-lemon {
    left: 76px;
    top: 614px;
    width: 266px;
    height: 232px;
  }
  #startPage_imgs-nootris {
    bottom: -24px;
    left: 272px;
    width: 112px;
    height: 318px;
  }
  #startPage_imgs-ginger {
    bottom: -15px;
    left: 184px;
    width: 248px;
    height: 204px;
  }
  .startPage_info-textH1 {
    width: 500px;
    padding-left: 35px;
  }
  .startPage_info-textH2, h2 {
    padding-left: 35px;
  }
  h2 {
    margin-top: 95px;
  }
  h3 {
    font-size: 35px;
    width: 620px;
  }
  .salePage_wrapper {
    height: 1175px;
  }
  .salePage_price {
    margin-bottom: 20px;
  }
  .salePage_info {
    flex-wrap: wrap;
    width: 500px;
  }
  #salePage_info-nootris-text1 {
    margin-top: 85px;
  }
  .salePage_info div:nth-child(2) {
    order: -1;
    margin-bottom: 50px;
  }
  .salePage_info-item-text1 {
    margin-top: 20px;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  header {
    position: fixed;
    z-index: 10;
    width: 100%;
  }
  .header {
    width: 420px;
  }
  /* Меню, которое будет появляться */
  .menu {
    position: fixed;
    top: 0;
    width: 320px;
    height: 600px;
    background: #111111;
    transform: translateX(-100%);
    transition: transform 0.5s;
    left: 0;
  }
  .startPage {
    width: 450px;
  }
  .header_menu-btn {
    display: block;
  }
  ul {
    flex-direction: column;
    font-weight: 700;
    position: relative;
    left: -100%;
    top: 115px;
    line-height: 75px;
  }
  .startPage_wrapper {
    height: 985px;
  }
  h1 {
    font-size: 60px;
    text-align: center;
    line-height: 70px;
    margin-top: 150px;
  }
  #startPage_imgs-lemon {
    left: 49px;
    top: 604px;
    width: 266px;
    height: 232px;
  }
  #startPage_imgs-nootris {
    bottom: 226px;
    left: 244px;
    width: 112px;
    height: 318px;
  }
  #startPage_imgs-ginger {
    bottom: 234px;
    left: 157px;
    width: 248px;
    height: 204px;
  }
  .startPage_info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .startPage_info-textH1, .startPage_info-textH2, h2 {
    width: 400px;
    text-align: center;
    margin: 10px 0;
  }
  h2 {
    margin-top: 450px;
  }
  h3 {
    font-size: 26px;
    width: 440px;
  }
  .salePage_wrapper {
    height: 1175px;
  }
  .salePage_price {
    margin-bottom: 20px;
    margin-top: 60px;
  }
  .salePage_info {
    flex-wrap: wrap;
    width: 400px;
  }
  #salePage_info-nootris-text1 {
    margin-top: 85px;
    font-size: 34px;
  }
  .salePage_info div:nth-child(2) {
    order: -1;
    margin-bottom: 65px;
  }
  .salePage_info-item-text1 {
    margin-top: 20px;
  }
  #salePage_info-nootris {
    width: 320px;
    height: 107px;
  }
  button {
    margin-top: 85px;
  }
}
@media (max-width: 479px) {
  header {
    position: fixed;
    z-index: 10;
    width: 100%;
  }
  .header {
    width: 300px;
  }
  .startPage {
    width: 300px;
    justify-content: center;
  }
  .header_menu-btn {
    display: block;
  }
  /* Меню, которое будет появляться */
  .menu {
    position: fixed;
    top: 0;
    width: 320px;
    height: 600px;
    background: #111111;
    transform: translateX(-100%);
    transition: transform 0.5s;
    left: 0;
  }
  ul {
    flex-direction: column;
    font-weight: 700;
    position: relative;
    left: -100%;
    top: 115px;
    line-height: 75px;
  }
  .startPage_wrapper {
    height: 900px;
  }
  h1 {
    font-size: 40px;
    text-align: center;
    line-height: 60px;
    margin-top: 150px;
  }
  #startPage_imgs-lemon {
    left: 166px;
    top: 519px;
    width: 178px;
    height: 154px;
  }
  #startPage_imgs-nootris {
    bottom: 226px;
    left: 285px;
    width: 75px;
    height: 212px;
  }
  #startPage_imgs-ginger {
    bottom: 247px;
    left: 224px;
    width: 165px;
    height: 137px;
  }
  .startPage_info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .startPage_info-textH1, .startPage_info-textH2, h2 {
    width: 300px;
    text-align: center;
    margin: 10px 0;
  }
  .startPage_info-textH1 {
    font-size: 17px;
    margin-top: 30px;
  }
  h2 {
    margin-top: 288px;
  }
  h3 {
    font-size: 17px;
    width: 300px;
    line-height: 30px;
    margin-top: 75px;
  }
  .salePage_wrapper {
    height: 1250px;
  }
  .salePage_price {
    margin-bottom: 20px;
    margin-top: 60px;
  }
  .salePage_info {
    flex-wrap: wrap;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .salePage_info-item {
    margin-bottom: 45px;
  }
  #salePage_info-nootris-text1 {
    margin: 75px 0 0;
    font-size: 25px;
    text-align: center;
  }
  .salePage_info div:nth-child(2) {
    order: -1;
    margin-bottom: 65px;
  }
  .salePage_info-item-text1 {
    margin-top: 20px;
  }
  #salePage_info-virus-text1 {
    margin-top: 10px;
  }
  #salePage_info-nootris {
    width: 299px;
    height: 100px;
  }
  button {
    margin-top: 50px;
  }
}

/*# sourceMappingURL=style.css.map */
